<!DOCTYPE html>
<html>
<head>
  <title>Tiny App</title>
</head>
<body>


  <% if (user) { %>
  <p>Logged in as <%= user.email %></p><form method="POST" action="/logout"><button type="submit">Logout</button></form>
<% } else { %>

  <form method="POST" action="/login">
    Email: <input type="text" name="email">
    Password: <input type="text" name="password">
    <button>Login</button>
  </form>
<% } %>
</body>
</html>