<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>

  <form method="POST" action="/registration">
    Email: <input type="text" name="email">
    Password: <input type="text" name="password">
    <button>Register</button>
  </form>

</body>
</html>